{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "baseUrl": ".",
    "target": "esnext",
    "parser": {
      "syntax": "typescript"
    },

    "paths": {
      "~/*": ["./src/*"]
    }
  },
  "module": {
    // TODO: Find a way to use esm instead
    "type": "commonjs"
  }
}
