---
import { Github, Linkedin, Twitter } from "lucide-react"
import { Image } from "astro:assets"

import vscodeImages from "~/assets/vscode-arrows.webp"

import { ToggleVSCodeButton } from "~/components/ToggleVSCodeButton.tsx"

const today = new Date()
---

<footer
  class="flex flex-row text-base items-center gap-2 border-t-[1px] border-black"
>
  <ToggleVSCodeButton client:load>
    <Image
      src={vscodeImages}
      alt="Two carrets pointing in oposite directions, copied from the bottom left of VSCode"
      class="h-8 w-14 rounded-none"
    />
  </ToggleVSCodeButton>
  &copy; {today.getFullYear()} Phillip Maier. All rights reserved
  <a href="https://github.com/pmaier983">
    <Github className="text-gray-600 hover:text-gray-900 w-4" />
  </a>
  ·
  <a href="https://www.linkedin.com/in/phillip-maier-3a4161102/">
    <Linkedin className="text-gray-600 hover:text-gray-900 w-4" />
  </a>
  ·
  <a href="https://x.com/pmaier983">
    <Twitter className="text-gray-600 hover:text-gray-900 w-4" />
  </a>
</footer>
