---
import { SITE_TITLE } from "../consts"
import { MobileNavMenuButton } from "~/components/MobileNavMenuButton"
---

<div>
  <!-- The nav button present on mobile -->
  <MobileNavMenuButton client:load />
  <header
    class="flex items-center h-10 justify-center border-b-gray-900 border-[1px]"
  >
    <nav class="items-center w-full flex justify-center">
      <h2
        class="bg-gray-300 border-gray-500 border-[1px] rounded-md flex justify-center hover:border-gray-700 hover:bg-gray-400"
      >
        <a href="/" class="flex flex-1 justify-center text-nowrap pl-8 pr-8"
          >{SITE_TITLE}</a
        >
      </h2>
    </nav>
  </header>
</div>
