---
import { IncrementingButton as IncrementingButtonReactComponent } from "~/components/IncrementingButton"
import { getTrpcAstro } from "~/client"

const { name } = Astro.props

const trpcAstro = getTrpcAstro(Astro.url)

const buttonResponse = await trpcAstro.getButton.query()

const clickCount = buttonResponse.click_count
---

<div>
  <IncrementingButtonReactComponent
    client:load
    name={name}
    clickCount={clickCount}
  />
</div>
