---
import { IncrementingButton as IncrementingButtonReactComponent } from "~/components/IncrementingButton"
import { getTrpcAstro } from "~/client"

const { name } = Astro.props

const trpcAstro = getTrpcAstro()

const buttonResponse = await trpcAstro.getButton.query()

const clickCount = buttonResponse?.clickCount
---

<div>
  <IncrementingButtonReactComponent
    client:load
    name={name}
    clickCount={clickCount ?? 0}
  />
</div>
