---
import { IncrementingButton } from "~/components/IncrementingButton"

const currentHostname = Astro.url.hostname
---

<div>
  <IncrementingButton client:load currentHostname={currentHostname} />
</div>
