---
import { SITE_TITLE } from "../consts"
---

<header
  class="flex items-center h-10 justify-center border-b-gray-900 border-[1px]"
>
  <nav class="items-center w-full flex justify-center">
    <h2
      class="bg-gray-300 border-gray-500 border-[1px] rounded-md pl-8 pr-8 flex justify-center hover:border-gray-700 hover:bg-gray-400"
    >
      <a href="/" class="flex flex-1 justify-center">{SITE_TITLE}</a>
    </h2>
  </nav>
</header>
