---
import { NAVIGABLE_PAGES } from "~/consts"
---

<nav class="max-sm:hidden">
  <ul>
    {
      NAVIGABLE_PAGES.map((page) => (
        <li>
          <a href={`/${page.href}`}>{page.title}</a>
        </li>
      ))
    }
  </ul>
</nav>
